<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/userShowStyle.css">
  <title>User Details</title>
</head>
<body>
  <div class="user-details-container">
    <div class="row">
      <div class="col-md-6">
        <h1><%= currentUser.name %></h1>
        <hr>
        <p><strong>Email:</strong> <%= user.email %></p>
        <!-- <p><strong>Password:</strong> <%= user.password %></p> -->
        <p><strong>Role:</strong> <%= user.role %></p>
        <p><strong>Graduation Year:</strong> <%= user.graduationYear %></p>
        <p><strong>Major:</strong> <%= user.major %></p>
        <p><strong>Job:</strong> <%= user.job %></p>
        <p><strong>Company:</strong> <%= user.company %></p>
        <p><strong>State:</strong> <%= user.state %></p>
        <p><strong>Country:</strong> <%= user.country %></p>
        <p><strong>City:</strong> <%= user.city %></p>
        <p><strong>Zip Code:</strong> <%= user.zipCode %></p>
        <p><strong>Bio:</strong> <%= user.bio %></p>
        <p><strong>Interests:</strong><%= user.interests %></p>
        <% if (currentUser && (currentUser._id.toString() ===
                    currentUser._id.toString() || currentUser.isAdmin)) { %>
          <div class="user-buttons" style="display: flex; justify-content: space-between;">
            <a href="/users/<%= user._id %>/edit">Edit User</a>
            <a
                href="/users/<%= user._id %>/delete?_method=DELETE"
                onclick="return confirm('Are you sure you want to delete this user?');"
                >Delete User</a
            >
            <% if (currentUser.isAdmin) { %>
              <a href="/users/new">Create User</a>
              <a href="/users">Show User</a>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
